/*Viewport if equal to 360px or less*/
@media only screen and (max-width:360px){
    .header_main .main-menu .navbar{
        padding:1%;
        margin:0%;
    }
    .site-main .site-banner .site-title h1{
        font-size:35px;
    }
    .site-main .site-banner .site-title h5{
        font-size:17px;
    }
    .site-main .background-area{
        padding:5%;
        margin:0%;
    }
    .site-main .project-area p.para{
        padding:0;
    }
    .site-main .site-banner{
        padding-bottom:0px;
    }

}

@media only screen and (max-width:765px){
    .site-main .skill-area{
        padding:0;
        padding-top:7rem;
    }
    .profile-img{
        margin-top:200px;
    }
}

/*Viewport if equal to 792px or less*/
@media only screen and (max-width:1910px){
.header_main .main-menu .navbar{
    padding:1rem;
}
.site-main .site-banner .site-title h1{
    font-size:35px;
}
.container{
    max-width:90%;
}
.site-main .background-area{
    padding:3% 4%;
}
}